body {
    background-color: lightgrey;
    text-align: center;
    padding: 10px;
}

#navBar {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: lightskyblue;
}

#tabOptions {
    float: right;
}

li a{
    display: block;
    color: blue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

table {
    padding: 10px;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
}