body {
    background-color: white;
    text-align: center;
}

#navBar {
    background-color: rgb(161, 206, 243);
    float: left;
    padding: 5px;
    color: white;
    width: 100%;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a{
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgb(161, 206, 243);
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navBar a:hover, .dropdown:hover {
    background-color: rgb(92, 136, 177);
}

table {
    padding: 10px;
    background-color: lightgrey;
}

#staffpic {
    padding: 10px;
}

#content {
    background-color: lightgrey;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    outline-style: solid;
}