body {
    background-color: white;
    text-align: center;
}

#navBar {
    background-color: rgb(161, 206, 243);
    float: left;
    padding: 5px;
    color: white;
    width: 100%;
}

#navBar a:hover {
    background-color: rgb(92, 136, 177);
}

table {
    padding: 10px;
    background-color: lightgrey;
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    outline-style: solid;
}